body {
	font-family: 'Ubuntu', sans-serif;
	color: #CE93D8;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

.content {
	margin: 5%;
}

.content h1 {
	font-size: 2rem;
}

.content p {
	font-size: 1rem;
}